<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body>
    
    <h1 th:text="${title}">Document</h1>

    <div th:if="${users.size() == 0}" th:text="${'No tiene elementos de usuarios'}"></div>

    <table th:if="${not users.isEmpty()}">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.lastname}"></td>
                <td th:if="${user.mail}" th:text="${user.mail}"></td>
                <td th:if="${user.mail==null}" th:text="${'N/A'}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>
